* {
  box-sizing: border-box;
}
/* common */
button {
  padding: 0.6em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  color: #333;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  background: rgba(0, 0, 0, 0.07);
}
.button--primary {
  position: relative;
  border: 1px solid #65b836;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
  color: white;
}
.summary {
  padding: 3em;
}
.summary__title {
  font-size: 2.5rem;
  line-height: 2em;
}
.summary__desciption {
  font-size: 1.7rem;
  color: #767676;
}

body {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}
.menugroup {
  display: flex;
  align-items: center;
}
/* svg는 어떻게 색깔 변경?? */
.menugroup .logo:hover {
  color: #4078c0;
  cursor: pointer;
}
.menu__ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}
.menu__ul li {
  margin: 1em;
}
li:hover {
  color: #4078c0;
  cursor: pointer;
}
.signgroup {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.search__input {
  padding: 0.6em;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  margin-right: 10px;
}
.search__input:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}
.service__ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}
.service__ul li {
  margin: 1em;
  font-size: 0.8em;
}
/* visual */
.visual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110vh;
  border: 1px solid black;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  padding: 2em;
}
.text {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.07);
}
.text h1 {
  font-size: 3.8em;
  margin-bottom: 0.3em;
}
.text p {
  font-size: 2em;
  line-height: 1.2em;
}

.signupform form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signupform form input {
  width: 18rem;
  height: 2.5em;
  padding: 0.6em;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  margin: 0.5em;
  font-size: 1em;
}
.signupform button {
  width: 18rem;
  height: 2.8em;
  font-size: 1.5em;
  margin: 0.5em 0 0.3em;
}
.signupform form span {
  width: 18rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7em;
  text-align: center;
  line-height: 1.4em;
}

.feature {
  width: 100%;
  background: #f5f5f5;
  text-align: center;
  font-weight: 300;
  padding-bottom: 2em;
}
.tile {
  width: 100%;
  margin-top: 3em;
}
.tile__container {
  display: flex;
  justify-items: center;
}
.tile__item {
  width: 25%;
  height: 65vh;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.tile__item img {
  width: 100%;
  padding: 3em;
  padding-bottom: 1.5em;
}
.tile__item div {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.tile .item__title {
  font-size: 1.2em;
  font-weight: 600;
}
.tile .item__title {
  font-weight: 400;
}
.map {
  font-weight: 300;
  padding: 0 3em;
}
.mapViewer {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.pricing {
  background: #f5f5f5;
  padding: 3em;
  display: flex;
}
.pricing .pricing__container {
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  font-size: 0;
}
.pricing .pricing__container div {
  font-size: 1rem;
  border: 1px solid #ddd;
  padding: 2em;
}
.cell1 {
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cell2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pricing .pricing__container .cell1 .button--primary {
  width: 110%;
  padding: 1em 0.7em;
  font-size: 0.8em;
}
.pricing .pricing__container .cell2 p {
  line-height: 1.7em;
}
footer {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-top: 1px solid #ddd;
  padding: 2.5rem 0rem;
}
.footer * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin: 0 2px;
  text-decoration: none;
}
.footer li {
  color: #767676;
}
.footer li:hover {
  text-decoration: underline;
}
.footer a {
  color: #4078c0;
}
.footer .footer__left:first-child:hover {
  color: inherit;
}
